.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    background-image: url('/images/old_moon.png');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #b7b7b7;
    box-shadow: 0 1px 0 #ededed;
    padding: 12px;
    // background-color: rgba(204, 204, 204, 0.6);
    background: gradient(top, rgba(255, 253, 253, 0.56) 0%,rgba(185, 185, 185, 0.79) 47%,rgba(224, 218, 218, 0.5) 100%);
    background: -moz-linear-gradient(top,  rgba(255, 253, 253, 0.56) 0%, rgba(185, 185, 185, 0.79) 47%, rgba(224, 218, 218, 0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 253, 253, 0.56)), color-stop(47%,rgba(185, 185, 185, 0.79)), color-stop(100%,rgba(224, 218, 218, 0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255, 253, 253, 0.56) 0%,rgba(185, 185, 185, 0.79) 47%,rgba(224, 218, 218, 0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255, 253, 253, 0.56) 0%,rgba(185, 185, 185, 0.79) 47%,rgba(224, 218, 218, 0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255, 253, 253, 0.56) 0%,rgba(185, 185, 185, 0.79) 47%,rgba(224, 218, 218, 0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255, 253, 253, 0.56) 0%,rgba(185, 185, 185, 0.79) 47%,rgba(224, 218, 218, 0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 253, 253, 0.56)', endColorstr='rgba(224, 218, 218, 0.5)',GradientType=0 ); /* IE6-9 */

    text-shadow: 0 1px #fdfdfd;
    .header-title {
        font-family: 'Audiowide', cursive,'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 20px;
        color: #777;
        .small-title {
            font-size: 12px; 
        }
    }
    /*overriding bootstrap css*/ 
    .nav-pills {
        margin-right: 15px;
        >li{
            &.active > a {
                text-shadow: none;
                background-color: #585B5E;
                color: #fff; 
                :active,
                :hover,
                :focus {
                    background-color: #585B5E;
                }       
            }
            > a {
                color: #333;
                padding: 3px 15px;
            }
        }
    }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    padding-left: 20px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
