.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #b7b7b7;
    box-shadow: 0 1px 0 #ededed;
    padding: 12px;
    background-color: rgba(204, 204, 204, 0.6);
    text-shadow: 0 1px #fdfdfd;
    .header-title {
        font-family: 'Audiowide', cursive,'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 20px;
        color: #777;
        .small-title {
            font-size: 12px; 
        }
    }
    /*overriding bootstrap css*/ 
    .nav-pills {
        margin-right: 15px;
        >li{
            &.active > a {
                text-shadow: none;
                background-color: #585B5E;
                color: #fff; 
                :active,
                :hover,
                :focus {
                    background-color: #585B5E;
                }       
            }
            > a {
                color: #333;
                padding: 3px 15px;
            }
        }
    }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    padding-left: 20px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
